{% extends 'base.html.twig' %}

{% block title %}Aircraft{% endblock %}

{% block body %}
    <h1>Aircraft</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aircraft.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ aircraft.name }}</td>
            </tr>
            <tr>
                <th>FullDateIn</th>
                <td>{{ aircraft.fullDateIn ? aircraft.fullDateIn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FullDateOut</th>
                <td>{{ aircraft.fullDateOut ? aircraft.fullDateOut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_aircraft_index') }}">back to list</a>

    <a href="{{ path('app_aircraft_edit', {'id': aircraft.id}) }}">edit</a>

    {{ include('aircraft/_delete_form.html.twig') }}
{% endblock %}
