<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WWI Airplanes{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('styles/global.css')}}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
               <li class="nav-item"><a href="{{ path('app_home') }}">Accueil</a></li>
               <li class="nav-item"><a href="{{ path('app_years_index') }}">Années</a></li>
               <li class="nav-item"><a href="{{ path('app_country_index') }}">Pays</a></li>
               <li class="nav-item"><a href="{{ path('app_builder_index') }}">Constructeurs</a></li>
               <li class="nav-item"><a href="{{ path('app_aircraft_type_index') }}">Type d'avion</a></li>
               <li class="nav-item"><a href="{{ path('app_aircraft_index') }}">Avions</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
